.robot-connection-div{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.robot-ip-and-port-form{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
}